<div class="container text-center">
  <ng-container *ngIf="!(isLoading || productNotFound)">
    <!-- Display product information when data is available -->
    <ng-container *ngIf="product">
      <img [src]="product.imageUrl" [alt]="product.description">
      <h1>{{ product.name }}</h1>
      <div class="price">{{ product.unitPrice | currency : "EUR" }}</div>
      <button (click)="onAddProductToCart(product)" class="btn btn-primary mt-2">Add to cart</button>
      <hr>
      <p>{{ product?.description }}</p>

      <a routerLink="../">Go Back</a>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <!-- Show a loading indicator while data is being fetched -->
    <div class="loading-indicator">
      Loading...
    </div>
  </ng-container>
  <ng-container *ngIf="productNotFound">
    <!-- Display "not found" message when product is not found -->
    <h1>No product with this id has been found. <br> :(</h1>
  </ng-container>
</div>
