<div class="container d-flex">
  <button
    class="btn btn-close-white"
    (click)="previousPage()"
    [disabled]="currentPage === 1"
  >
    <span aria-hidden="true">&laquo;</span>
  </button>
  <ngb-pagination
    [(page)]="currentPage"
    [pageSize]="size"
    [collectionSize]="totalElements"
    (click)="onPageChange($event)"
    [maxSize]="5"
    [directionLinks]="false"></ngb-pagination>
  <button
    class="btn btn-close-white"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    <span aria-hidden="true">&raquo;</span>
  </button>
</div>
